<div class="container my-5">
  <div class="text-center">
    <h2>{{ title }}</h2>
  </div>
  <div class="my-3">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">DPI</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Ventas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of this.employee_list">
          <th>{{ p.dpi }}</th>
          <td>{{ p.names }}</td>
          <td>{{ p.lastNames }}</td>
          <td *ngIf="option == 6">
            {{ getSales(p.dpi) | currency : "Q" : "symbol" : "1.2-2" }}
          </td>
          <td *ngIf="option == 5">
            {{ getSales(p.dpi) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
